<div>

  <div class="row d-flex justify-content-center flex-wrap">
    <div class="col-auto">
      <h5>Search</h5>
    </div>
  </div>

  <div class="row d-flex justify-content-center flex-wrap bg-warning" >
    <div class="col d-flex justify-content-center flex-wrap bg-success">

      <div class="row flex-wrap bg-danger">
        <div class="col-auto bg-info">
          <input class="form-control" [(ngModel)]="searchTitle" (keydown.enter)="searchMovies()" type="text" placeholder="">
           <!--  -->
        </div>
        <div class="col-auto bg-secondary">
          <button class=" btn btn-primary" (click)="searchMovies()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <br>

  <ul class="list-group" *ngFor="let searchItem of results">
    <li class="list-group-item ">{{ searchItem.id }}</li>
    <li class="list-group-item">{{ searchItem.title }}</li>
    <li class="list-group-item">{{ searchItem.overview }}</li>
    <li class="list-group-item">{{ searchItem.release_date }}</li>
  </ul>
</div>
