<div>

  <!-- Showed before first search as home search page
  <div class="d-flex justify-content-center">
    <h1>Search Movies</h1>
  </div> -->

  <br>
  <!-- Search bar -->
  <div class="col d-flex justify-content-center">

    <div class="row align-items-center">
      <div>
        <input class="form-control" [(ngModel)]="searchTitle" (keydown.enter)="searchMovies()" placeholder="Search">
      </div>
      <div>
        <button class=" btn btn-primary" (click)="searchMovies()">
          <i class="fa fa-search" style="font-size:16px"></i>
        </button>
      </div>
    </div>
  </div>
  <br>

  <!-- List is search items -->
  <div *ngFor="let result of results">

    <!-- Search result items from TMDB api -->
    <div id="search-item" (click)="showMovieDetail(result.id)">

      <!-- <ng-container *ngIf="result.poster_path != null; then posterPath; else backdropPath">
      </ng-container>
      <ng-template #posterPath>
        <img class="img-fluid" src="{{ baseImageUrl + result.poster_path}}" />
      </ng-template>
      <ng-template #backdropPath>
        <img class="img-fluid" src="{{ baseImageUrl + result.backdrop_path}}" />
      </ng-template> -->
      <div id="search-item-content" class="d-flex flex-row">
        <img class="img-fluid" src="{{ baseImageUrl + result.poster_path}}" />

        <div class="px-4 d-flex flex-column">
          <h5 class="mt-4">{{ result.title }} </h5>
          <p class="mt-auto">{{ result.release_date }}</p>
          <p class="mt-0">{{getGenreSearch(result.genre_ids)}}</p>
        </div>
      </div>

      <div *ngIf="showTextArea" id="search-item-edit" class=" m-3 bg-primary d-flex flex-row justify-content-center align-items-center">
        <textarea class="w-100 h-100 text-capitalize" id="add-review" autofocus spellcheck="false">
        </textarea>
      </div>

    </div>
    <br>
  </div>

</div>
