<div>

  <h4 class="d-flex justify-content-center">Reviews</h4>

  <!-- List is search items -->
  <div *ngFor="let review of reviews">

    <!-- Search result items from TMDB api -->
    <div id="review-item" class="d-flex">
      <div class="col px-4 d-flex flex-column ">
        <p class="mt-4">{{review.text}}</p>
        <div class="mt-auto">
          <h5>{{ review.title }}</h5>
          <p class="mt-0">{{ review.date }}</p>
        </div>
      </div>
      <img class="img-fluid" src="{{ baseImageUrl + review.imagePath}}" />
    </div>

    <br>
  </div>
</div>
